:root {
  --container-max-width: 1200px;
  --section-padding-y: 3rem;
  --section-padding-y-sm: 5rem;
  --section-padding-x: 1rem;
  --section-padding-x-sm: 2rem;
}

@media (min-width: 640px) {
  :root {
    --section-padding-y: var(--section-padding-y-sm);
    --section-padding-x: var(--section-padding-x-sm);
  }
}
